<%- include("../../partials/header.ejs") %> 
<%- include("../../partials/navbar.ejs") %> 



<div class="container">
    <br>
    <div class="card">
        <div class="card-header">
            <h2>Novo Artigos</h2>
        </div>
    <div class="card-body">
   
    <form method="POST" action="/article/save">
        <input class="form-control "type="text" name="title" id="" placeholder=" Defina o titulo do artigo"><br>
        <textarea  class="form-control " name="body"  cols="30" rows="10" id="ar" placeholder="Escreva seu artigo@"></textarea>
        <label for="categorias">Categorias</label>
        <select name="category" class="form-control" id="">
            <% categories.forEach((category)=>{%>
                <option><%= category.title %></option>

            <% }) %> 
        </select>
        <br>
        <button class="btn btn-success">Cadastrar</button>
    </form>
</div>
</div>
</div>


<%- include("../../partials/footer.ejs") %> 
